/*--------------------------------------------------------------------------------------------*/
/*------------------------------------------Desktop-------------------------------------------*/
/*--------------------------------------------------------------------------------------------*/


/*----------------------------------------------*/
/*-------------------Default--------------------*/
/*----------------------------------------------*/

.App{
  background: #1a1a1a;
  min-height:91.3vh;
  display: flex;
  color: #ecf2f9;
  font-size: small;
}

:root{
  --offsetSize:0px;
  --shadowBoxSize:90px;
}

/*----------------------------------------------*/
/*----------------Music Player------------------*/
/*----------------------------------------------*/

.Header{
  padding: 5px 0 0 0;
  bottom: 0;
  position: fixed;
  display: flex;
  background-color:#404040;
  height:9vh;
  color: #ecf2f9;
  width: 100vw;
  flex-direction: column;
}

.UpPart{
  display: flex;
  position: static;
  height: 5vh;
  flex-direction: row;
}

.DownPart{
  display: flex;
  justify-content:center;
  padding-top: 15px;
}

#HeaderSplited{
  width: 33.333333vw;
  height: 2.5em;
}

.HeaderMask{
  position: static;
  background-color: #99acee;
  padding: 5px 0 0 5px;
  height:8vh;
  width: 10vw;
}

.PlayerBack{
  position: fixed;
  background-color: #203064;
  padding:5px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 78.6vw;
  text-align: center;
  top:90.5vh;
}
.PlayerBackMask{
  padding:5px;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 70vw;
  top:88vh;
}

.PlayerButton{
  background:none;
  width: 3em;
  height: 3em;
  border-width: 0;
  border-radius: 1.5em;
  justify-content: center;
}

.PlayerButton:hover{
  cursor: pointer;
}
#Backward{
  transform: scaleX(-1);
}

.PlayerSong{
  display: block;
  padding-top:12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
  width: 190px;
}

.Shadow{
  position: absolute;
  box-shadow:inset -0.5em 0 5px #404040; 
  z-index: 100;
  width: 00px;
  color: transparent;
}

.Shadow.NewSize{
  width: var(--shadowBoxSize);
}

.PlayerSongDuration{
  display: flex;
  justify-content: flex-end;
  padding-right:26px;
  padding-top:23px
}

.PlayerSongName.Animate{
  animation: FrontAndBack 10s infinite;
}

@keyframes FrontAndBack {
  0% {transform: translate(0.75px,0px);}
  50% {transform: translate(var(--offsetSize),0px)}
  100% {transform: translate(0.75px,0px);}
}

.MiniCover{
  margin: 10px;
  background-color: cadetblue;
  width: 3em;
  height: 3em;
}

.PlayerButtonsGroup{
  display: flex;
  position: static;
  width:10em;
}

#ArtistName{
  color: #b2b7bd;
  font-size: smaller;
}

/*----------------------------------------------*/
/*--------------------Drawer--------------------*/
/*----------------------------------------------*/

.Drawer{
  padding:5px 0 0 5px;
  position:fixed;
  width:15vw;
  height:90.6vh;
  background-color: #333333;
}

.DrawerMask{
  position: static;
  padding: 5px 0 0 5px;
  width:15vw;
  height:90.6vh;
}

/*----------------------------------------------*/
/*-------------------Content--------------------*/
/*----------------------------------------------*/

.Segment{
  padding: 15px;
  padding-left:6vw;
  width:100%;
  margin-top: 20px;
}

.carousel{
  display: flex;
  justify-content:space-around;
  background-color: #333333;
  border-radius: 5px;
  padding: 5px;
  width:78vw;
  margin-bottom:3vh;
  font-size: 0.99em;
}

.MusicGroup{
  display: inline-grid;
  justify-content:center;
  align-items: center;
  text-align: center;
  width: 14vw;
  height: 16vw;
  margin-top: 3px; 
  margin-bottom: 7px; 
}

.AlbumCover{
  width: 12.5vw;
  height: 12VW;
  background-color: #3f3f3f;
}

.AlbumCoverBig{
  display: flex;
  justify-content:center;
  align-items:center;
  width: 16.5vw;
  height: 16VW;
  background-color: #3f3f3f;
  transition: all .3s
}

.CarouselButton{
  background:transparent;
  border-radius: 5px;
  border-style: solid;
  border-color: #4e4e4e;
}



/*----------------------------------------------*/
/*--------------------Song----------------------*/
/*----------------------------------------------*/

.SongButton{
  display: flex;
  border: none;
  background: none;
  color: #ecf2f9;
}

.SongButton:hover{
  cursor: pointer;
}

.SongName{
  background-color:#262626;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  padding:6px;
  font-size:15px;
  width:69vw;
  margin-bottom:10px;
  text-align: start;
}

.SongDuration{
  background-color:#262626;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  padding:6px;
  font-size:15px;
  width:8vw;
  text-align:end;
  margin-bottom:10px;
}
/*--------------------------------------------------------------------------------------------*/
/*------------------------------------------Mobile--------------------------------------------*/
/*--------------------------------------------------------------------------------------------*/


@media (max-width:770px) {

/*----------------------------------------------*/
/*-------------------Default--------------------*/
/*----------------------------------------------*/

.App{
  background: #1a1a1a;
  min-height:91.3vh;
  display: flex;
  color: #ecf2f9;
  font-size: small;
}
/*----------------------------------------------*/
/*----------------Music Player------------------*/
/*----------------------------------------------*/

.PlayerSong{
  display: block;
  padding-top:12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
  width: 100%;
}

/*----------------------------------------------*/
/*--------------------Drawer--------------------*/
/*----------------------------------------------*/

.Drawer{
  display: none;
}

.DrawerMask{
  display: none;
  position: none;
  border: 2px solid #203064;
}

/*----------------------------------------------*/
/*-------------------Content--------------------*/
/*----------------------------------------------*/


.Segment{
  padding: 15px;
  padding-left:6vw;
  width:100%;
  margin-top: 20px;
}

.carousel{
  display: flex;
  justify-content:space-between;
  background-color: #333333;
  border-radius: 5px;
  padding: 5px;
  width:85vw;
  margin-bottom:3vh;
  font-size: 0.99em;
  
}

.MusicGroup{
  display: inline-grid;
  justify-content:center;
  align-items: center;
  text-align: center;
  width: 14vw;
  height: 16vw;
  margin-top: 3px; 
  margin-bottom: 7px; 
  transform: none;
}

.AlbumCover{
  display: flex;
  justify-content:center;
  align-items:center;
  width: 25.5vw;
  height: 25VW;
  background-color: #3f3f3f;
}

.AlbumCoverBig{
  display: flex;
  justify-content:center;
  align-items:center;
  width: 26.5vw;
  height: 26VW;
  background-color: #3f3f3f;
  transition: all .3s
}



/*----------------------------------------------*/
/*--------------------Song----------------------*/
/*----------------------------------------------*/

}